[build]
builder = "nixpacks"

[deploy]
startCommand = "php -S 0.0.0.0:$PORT -t public/"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "never"

[env]
APP_ENV = "prod"
APP_DEBUG = "0"
PORT = { default = "8000" }
